<html>
<head>
<link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.css"/>
</head>
<body >
<!-- Creating Component !-->
<div class="container" id="app2">
<todo-item v-for="item in grocerylist" v-bind:todo="item"></todo-item>
	<span v-bind:title='message'>
	ini apaan yak
	</span>
	<p v-if="seen">you see me</p>
	<li v-for="item in daftarbelanja">
	{{item.sayur}}
	</li>
<div class="form-group">
<label>Nama</label>
<input type="text" class="form-control" v-model="event.nama">
</div>
<div class="form-group">
<label>NOMOR TELPON</label>
<input type="text" class="form-control" v-model="event.nomor">
</div>
<div class="form-group">
<label>ALAMAT</label>
<textarea class="form-control" v-model="event.alamat"></textarea>
</div>
<button class="btn btn-primary" v-on:click="clickme()">Click Me!</button>
<button class="btn btn-success" v-on:click="actionedit()">Edit Me!</button>
<table class="table stripped">
<thead>
	<th>Nama</th>
	<th>nomor</th>
	<th>Alamat</th>
	<th>Action</th>
	</thead>
<tbody>
	<tr v-for="event in messages">
	<td>{{event.nama}}</td>
	<td>{{event.nomor}}</td>
	<td>{{event.alamat}}</td>
	<td><button class="btn btn-success" v-on:click="ubah(event)">Ubah</button><button class="btn btn-danger" v-on:click="hapus(event)">Hapus</button></td>
	</tr>
</tbody>
</table>
</div>
<div id="app">
  <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/foo">Go to Foo</router-link>
      <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/bar">Go to bar</router-link>
    <router-view></router-view>
</div>
</body>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="bower_components/vue-resource/dist/vue-resource.js"></script>
<script src="bower_components/vue-router/dist/vue-router.js"></script>
<script type="text/javascript">
const Foo = { template: '<h1>Hello </h1>' }
const Bar = { template: '<div>bar</div>' }

// 2. Define some routes
// Each route should map to a component. The "component" can
// either be an actual component constructor created via
// Vue.extend(), or just a component options object.
// We'll talk about nested routes later.
const routes = [
  { path: '/foo', component: Foo },
  { path: '/bar', component: Bar }
]

// 3. Create the router instance and pass the `routes` option
// You can pass in additional options here, but let's
// keep it simple for now.
const router = new VueRouter({
  routes // short for routes: routes
})

// 4. Create and mount the root instance.
// Make sure to inject the router with the router option to make the
// whole app router-aware.
const app = new Vue({
  router
}).$mount('#app')
	Vue.component('todo-item',{
		props:['todo'],
		template:'<li>{{todo.text}}</li>'
	})

	var app2 = new Vue({
		el:"#app2",
		http:{
			root: '/root',
			headers:{

			}
		},
		data:{
			event:{nama:'',nomor:'',alamat:''},
			messages:[],
			message:"hello im using vue js"+new Date(),
			item:'',
			nama:'',
			id:'',
			seen:false,
			daftarbelanja:[
				{
					sayur : 'asem'
				},
				{
					sayur:'rujak'
				}
			],
			grocerylist:[
				{
					text:"hello world"
				},
				{
					text:"im using vue"
				}
			]
		},
		mounted: function(){
			this.fetchevent();
		},
		methods:{
			fetchevent:function(){
				this.$http.get('/data/api').then((messages)=>{
				this.messages = messages.data
			},(messages)=>{
				console.log("eror")
			});
			},
			/*getdata:function(){
					var exurl = "/data/api";
					this.$http.get("data/api").then((response)=>{
					this.$set('messages',response.data);
					console.log(response)
				},(response)=>{
					console.log(response)
				});
			},*/
			clickme:function(){
				this.$http.post('data/api',this.event).then((response)=>{
					this.messages.push(this.event);
					console.log("event added!");
					this.fetchevent();
				},
				(response)=>{
					console.log("error");
				})
					this.event = {nama:''};
			},
			hapus:function(event){
				this.$http.delete("data/api/"+event._id).then((response)=>{
					this.fetchevent();
				},
				(error)=>{
					console.log(error)
				})
			},
			ubah:function(event){
				this.event.nama = event.nama;
				this.event.nomor = event.nomor;
				this.event.alamat = event.alamat;
				id = event._id;

			},
			actionedit:function(){
				this.$http.put("data/api",{nama:this.event.nama,id:id,nomor:this.event.nomor,alamat:this.event.alamat}).then((response)=>{
					this.fetchevent();
				},
				(error)=>{
					console.log(error)
				})
			}
		},
	})
	
</script>
</html>